.order {
    display: grid;
    grid-template-columns: auto 100%;
    background-color: red;
}

.order-box-wrapper {
    display: grid;
    width: 100%;
}

.order-box-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.order-box-item {
    width: 100px;
    /* background-color: red; */
    /* color: red; */
    text-align: 'center';
}

.order-box-completed-icon {
    background-color: green;
    margin-right: 20px;
}

.order-box-data {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.order-box {
    width: 50%;
    text-align: center;
    /* Center text with flex */
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 6px hsl(210 14% 90%);
}

.order-content {
    padding-left: 30px;
}

[role=tablist] {
    display: flex;
    justify-content: space-evenly;
}
