.dashboard-block {  
    background-color: white;
    display: grid;
    grid-template-columns: 300px auto;
    /* box-sizing: border-box; */
    font-family: 'Roboto';
}
.dashboard-content {
    margin-left: 20px;
    font-family: 'Roboto';
}