.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: white;
}
.header__menuitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4em;
}

.header__menuitem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.header__logo {
    margin-left: 48px;
}

.header__search {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header__searchContainer {
    width: 40em;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #31363A;
}

.header__searchContainer > input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.header__searchContainer > input:focus {
    outline: none;
}
